<div class="container">
  <input 
    type="text"
    placeholder="Input company name"
    class="search"
    [(ngModel)]="searchValue">
  <div class="filters">
    <div class="filter">
      <label class="filter-name">Filter by type</label>
      <select class="selector" [(ngModel)]="type">
        <option
          *ngFor="let type of types">
            {{type}}
        </option>
      </select>
    </div>
    <div class="filter">
      <label class="filter-name">Filter by industry</label>
      <select class="selector" [(ngModel)]="industry">
        <option
          *ngFor="let industry of industries">
            {{industry}}
        </option>
      </select>
    </div>
  </div>
  <div class="sort-container">
    <label class="sort-by">Sort by</label>
    <div class="sorting">
      <button
        class="sort-button"
        (click)="setActiveSort('business_name')"
        [ngClass]="{
          'active': activeSort === 'business_name'
        }">
          name
      </button>
      <button
        class="sort-button"
        (click)="setActiveSort('type')"
        [ngClass]="{
          'active': activeSort === 'type'
        }">
          type
      </button>
      <button
        class="sort-button"
        (click)="setActiveSort('industry')"
        [ngClass]="{
          'active': activeSort === 'industry'
        }">
          industry
      </button>
    </div>
  </div>
  <app-company-item 
    *ngFor="let company of companies | filterByName: searchValue | filterByType: type | filterByIndustry: industry | sortByParam: activeSort"
    [company]="company">
  </app-company-item>
</div>