<div class="container">
  <div class="company-details">
    <div class="header">
      <img class="logo" src={{company?.logo}} alt={{company?.business_name}}>
      <div class="name">
        <p class="business-name">{{company?.suffix}} "{{company?.business_name}}"</p>
        <p class="catch-phrase">{{company?.catch_phrase}}</p>
      </div>
    </div>
    <p class="params"><b>Industry:</b> {{company?.industry}}</p>
    <p class="params"><b>Phone:</b> {{company?.phone_number}}</p>
    <p class="params"><b>Adress:</b> {{company?.full_address}}</p>
  </div>
</div>